<div class="card card-side bg-base-100 shadow-xl">
    <figure>
        <img class="w-full h-full" src="<%= img_src %>" alt="<%= title %>" />
    </figure>
    <div class="card-body">
        <h2 class="card-title"><%= title %></h2>
        <p><%= description %></p>
        <div class="card-actions justify-end">
            <button class="btn btn-primary">Find Almuni</button>
        </div>
    </div>
</div>