<div class="min-w-full px-1 carousel carousel-center bg-neutral rounded-box max-w-md space-x-4 p-4">
    <% carousel_cards.forEach(card => { %>
        <%- include('home_carousel_card', card) %>
    <% }) %>
</div>