<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head'); %>
</head>

<body>
    <header><%- include('./components/header'); %></header>


    <main class="">
        <%- include('./components/connect_hero'); %>

            <!-- this will be a list of colleges whom almuni we can connect -->
            <div>
                <div class="mt-8 px-2">
                    <h2 class="text-3xl font-bold mx-4">Top Colleges</h2>
                    <div class="grid gap-y-2 mt-3">

                    </div>
                </div>
            </div>

            <!-- the modal with list of almuni will be shown on clicking the Find Almuni button in each college card -->
            <!-- Open the modal using ID.showModal() method and can be closed using ID.close() method -->
            <button class="btn" onclick="my_modal_2.showModal()">open modal</button>
            <dialog id="my_modal_2" class="modal">
                <div class="modal-box">
                    <form method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>

                    <div class="overflow-x-auto">
                        <table class="table table-pin-rows table-pin-cols">
                            <!-- head -->
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>College</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        <div class="flex items-center gap-3">
                                            <div class="avatar">
                                                <div class="mask mask-squircle h-12 w-12">
                                                    <img src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                                                        alt="Avatar Tailwind CSS Component" />
                                                </div>
                                            </div>
                                            <div>
                                                <div class="font-bold">Rohan</div>
                                                <div class="text-sm opacity-50">960 connections</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="badge badge-ghost badge-sm">Final Year</span>
                                    </td>
                                    <td>IIIT Bhagalpur</td>
                                    <th>
                                        <button class="btn btn-secondary btn-xs">Connect</button>
                                        <!-- this button will turn to this on click and vice-versa -->
                                        <button class="btn btn-outline btn-xs hidden">Requested</button>
                                        <!-- if the request is accepted show the above button with chat as text -->
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>
    </main>

    <footer><%- include('./components/footer'); %></footer>
</body>

</html>