<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head'); %>
    <link rel="styelsheet" href="./css/index.css" />
  </head>
  <body>
    <header><%- include('./components/header'); %></header>

    <main>
      <div>Santosh is exicted to see the app running.</div>
      <!-- search box for searching of colleges based on location or name -->

      <!-- features of the application in form of cards -->
      <!-- this section will be auto scrollable -->
      <!-- overview of the college, connect with college students, become ambassdor, need help -->

      <!-- some of the most popular colleges with high ratings -->
      <!-- this will be in the form of list of cards -->
    </main>

    <footer><%- include('./components/footer'); %></footer>
  </body>
</html>
